<div class="section">
    <div class="article">
        {{!-- 列表标题的头部 --}}
        <div class="header-title">
            <a class="post-title-link" href="{{url}}">{{title}}</a>
             {{!-- 列表时间 --}}
            <aside class="datas">
                <time>{{date format='MM-DD'}}</time>         
            </aside>
            <span class="post-main">
                
                {{!-- 列表标签 --}}
                 {{!--<span class="post-meta">
                    <span class="span-a">{{#if tags}} {{tags}} {{/if}}</span>
                </span>--}}
            </span>
        </div>
        {{!-- 列表内容 --}}
        <div class="post-dec">
            {{!--
            <p>{{excerpt words="33"}}</p> --}}
            <p>{{twitter_description}}</p>
        </div>
        {{!-- 阅读按钮 --}}
     {{!-- <div class="post-full-right">
            <a class="author-button" href="{{url}}">阅读</a>
        </div>--}}
    </div>

</div>