{{!
< default}} {{> "site-nav"}}

    <div class="container">
        <div class="wrap">
            {{!-- 标题和内容 --}}
            <div class="section">
                {{#foreach posts}}
                <div class="article">
                    {{!-- 列表标题的头部 --}}
                    <div class="header-title">
                        <a class="post-title-link" href="{{url}}">{{{title}}}</a>
                        <span class="post-main">
                            {{!-- 列表时间 --}}
                            <span class="post-time">
                                <span class="post-meta-item-icon">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                                <span class="post-meta-item-text">发表于</span>
                                <time>{{date format='YYYY-MM-DD'}}</time>
                            </span>&nbsp; | &nbsp; {{!-- 列表标签 --}}
                            <span class="post-meta">
                                {{#if tags}} {{tags}} {{/if}}
                            </span>
                        </span>
                    </div>
                    {{!-- 列表内容 --}}
                    <div class="post-dec">
                        <p>
                            {{excerpt words="15"}}
                        </p>
                    </div>
                </div>
                {{/foreach}}
            </div>
            {{pagination}}

            <div class="footer">
                <div class="footer-inter">
                    <div class="ghost-footer">
                        <div class="powered">
                            Powered&nbsp;by&nbsp;
                            <a class="theme-link" href="http://ghost.org">Ghost</a>
                        </div>
                        <div class="theme-info">
                            Theme&nbsp;-&nbsp;
                            <a class="theme-link" href="https://github.com/jinzita007/ghost-theme-cat">猫咪主题</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>